body {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: orange;
}

.navbar a:hover:not(.active) {
    background-color: orange;
    color: blue;
}

.active {
    background-color: #eb0000;
    color: white;
}