:root {
    --accent: #eb0000;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

ul, ol {list-style-position: inside;}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.nav li {
    float: left;
}

img {
    margin: 0 auto;
}

.nav li a, .nav li .heading {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

a {color: var(--accent);}

.nav li .heading {color: var(--accent);}

.navbar a:hover:not(.active) {
    background-color: #333;
    color: white;
}

.active {
    background-color: var(--accent);
}

h1, h2, h3, h4, h5, h6, .nav {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
