body {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {list-style-position: inside;}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav li {
    float: left;
}

.nav li a, .nav li .heading {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

a {color: #eb0000;}

.nav li .heading {color: #eb0000;}

.navbar a:hover:not(.active) {
    background-color: #333;
    color: white;
}

.active {
    background-color: #eb0000;
}

@media (max-width: 870px) {.nav {font-size: calc(100vw / 111);}}